.QuizBox {
  height: 100%;
  padding: 0 24px;
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .card {
    min-height: 50%;
    margin: 24px 0;
    background-color: rgb(225, 225, 225);
    color: black;
    min-height: 200px;
    padding: 8px;
    border-radius: 8px;
    font-size: 24px;
    pre {
      overflow-x: scroll;
      font-size: 16px;
      background-color: lightcoral;
      padding: 4px;
      border-radius: 4px;
    }
  }
  div,
  form {
    min-height: 44px;
  }
  form {
    display: flex;
    justify-content: space-between;
  }
}

.quizBtn {
  display: inline;
  padding: 4px;
  width: 120px;
  color: white;
  border: grey 2px solid;
  border-radius: 16px;
  margin: 4px 0;
  background-color: black;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: hotpink;
  }
  &:active {
    background-color: hotpink;
  }
  &:focus {
    color: hotpink;
    border: grey 2px solid;
    font-weight: bolder;
  }
}

#revealBtn {
  margin-left: calc(100% - 120px);
  background-color: white;
  color: #7a69aa;
  &:hover {
    color: white;
    background-color: #7a69aa;
  }
  &:active {
    background-color: #7a69aa;
  }
  &:focus {
    color: white;
    background-color: #7a69aa;
    border: grey 2px solid;
    font-weight: bolder;
  }
}
