header {
  // margin-top: 24px;
  border: 2px black solid;
  border-radius: 16px;
  background-color: rgb(225, 225, 225);

  display: flex;

  // title {
  //   font-size: 1000px;
  h1 {
    text-align: center;
    width: 66%;
  }
  // }
}
