.header {
  // margin-top: 24px;
  border: 2px black solid;
  border-radius: 16px;
  background-color: rgba(117, 116, 117, 0.8);

  display: flex;

  h1 {
    text-align: center;
    width: 66%;
  }
}
