.Nav {
  min-height: 100%;
  width: 34%;
  display: flex;
  justify-content: space-around;
  border-left: black 2px solid;

  a {
    color: #551b8b;
    font-weight: bolder;
    text-decoration: none;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto 4px;
    height: 50%;

    &:visited {
      color: #551b8b;
    }

    &:hover {
      color: hotpink;
    }
  }
}
